<!DOCTYPE html>
<html>
  <head>
    <title>Adminka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="flex">
      <div id="nav-panel">
                  <div class="nav_button active-nav-button">Пользователи</div>
 
    
               <%
=begin%>
 <%= button_to "Выйти из аккаунта", destroy_manager_session_path, method: :delete, id:'destroy_session', class:"nav-button", data:{turbo: false}%> 
<%
=end%>

      </div>

      <div id="main">
        <%= yield %>
      </div>
      
    </div>

      <div id="blanket"></div>


  </body>
</html>
